$linear-back: linear-gradient(
  to right bottom,
  rgba(126, 213, 111, 0.8),
  rgba(40, 180, 133, 0.8)
);
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-black: #000;
$color-white: #fff;
$button-text: rgba(0, 0, 0, 0.726);
$button-shadow: #134b38af;

$grid-width: 114rem;

$space-vertical: 8rem;
$space-horizontal: 6rem;
$background-color: #f7f7f7;
