.section-about {
  padding: 25rem 0;
  background-color: $background-color;
  margin-top: -25vh;
}
.section-feature {
  background-image: $linear-back, url(../images/nat-4.jpg);
  background-size: cover;
  margin-top: -10%;
  background-position: center;
  padding: 20rem 0;
  transform: skewY(-7deg);
  > * {
    transform: skewY(7deg);
  }
}
